@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: fit-content;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

#projects{
  min-height: 100vh;
  
 
}



.projects_container{
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
  height:91%;
  gap: 2rem;
 
}

.card{
 
  
  width: 500px;
  height:max-content;
  border: solid rgb(81, 81, 82) 1px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background:white;
  border-radius: 20px;
  box-shadow:0 30px 80px rgba(0,0,0,0.15) ;
  transition:all 1s ease-in-out;

}


.projects_container .card .card_images{   
      top: 20px;
      width: 450px;
      overflow: hidden;
      transition: 0.5s;
      height: fit-content;
      
}

.card_content{
  height:max-content;
  text-align: center;
  
}

.card_btn{
 width: 6rem;
 height: 2rem;
 cursor: pointer;
 font-weight: 600;
 margin-right: 1.5rem;
 margin-top: 1rem; 
 background-color: rgb(237, 234, 234);
 border: solid 1px grey;
 border-radius: 5px;
}

.card_btn:hover{
  background-color: rgb(84, 84, 84);
  color: white;
}
