@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 166, 245);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    overflow-x: hidden;
}

h1{
    margin: 10px;
}

.box{
    background-color: rgb(245, 224, 243);
    color: rgb(112, 85, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 9px 3px rgb(109, 108, 108);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-200%);
}


.box.show{
    transform:translate(0);
}

.box h2{
    font-size: 45px;
}
