@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Quicksand:wght@300&family=Roboto&family=Rubik+Microbe&family=Zen+Tokyo+Zoo&display=swap');

*{
    box-sizing: border-box;
}

body{
   
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;   
}

.bg{
    background:url('https://static.moviecrow.com/marquee/pathu-thala-stills-feat-silambarasan-tr-gautham-karthik/212306_thumb_665.jpg') no-repeat center center/cover;
    position:absolute;
    top: -30px;
    left: -30px;
    /* width: 100vw; */
    /* height: 100vh; */
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(100px);


}

.loading-text{
    font-size: 50px;
    color: #fff;
}